<ActionBar title="Proyecto Desarrollo Web">
    <ActionItem text="Create" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
    <ActionItem text="Read" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
    <ActionItem text="Update" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
    <ActionItem text="Delete" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
</ActionBar>