<ActionBar title="Proyecto Desarrollo Web">
    <ActionItem text="Create" (tap)="navigateCreate()" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
    <ActionItem text="Read" (tap)="navigateRead()" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
    <ActionItem text="Update" (tap)="navigateUpdate()" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
    <ActionItem text="Delete" (tap)="navigateDelete()" ios.systemIcon="16" ios.position="right" android.position="popup">
    </ActionItem>
</ActionBar>
