<ActionBar title="ProyectoDesWeb"> </ActionBar>

<GridLayout>
  <StackLayout>
    <StackLayout class="input-field">
      <TextField class="input" hint="Dorian"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
      <TextField class="input" keyboardType="email" hint="Correo"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
      <TextField class="input" keyboardType="number" hint="Telefono"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
      <TextField class="input" hint="Cuenta De Github"></TextField>
    </StackLayout>
    <StackLayout class="input-field">
      <TextField class="input" hint="Cuenta De Github"></TextField>
    </StackLayout>
    <Button text="Registrarse" class="btn btn-primary">
    </Button>
  </StackLayout>
</GridLayout>