<actBar></actBar>

<GridLayout>
  <StackLayout class="register-form" [formGroup]="registerForm">
    <TextField class="input" hint="Nombre"
               formControlName="nombre"
    ></TextField>
    <TextField class="input" keyboardType="email" hint="Correo"
               formControlName="correo"
    ></TextField>
    <TextField class="input" keyboardType="number" hint="Telefono"
               formControlName="telefono"
    ></TextField>
    <TextField class="input" hint="Cuenta De Github"
               formControlName="github"
    ></TextField>
    <button id="btnRegistrar" text="REGISTRAR"
            (tap)="onCreateUsers(registerForm.value)">
    </button>
  </StackLayout>
</GridLayout>
